dashboard/flows.json
[
  {
    "id": "f6f2187d.f17ca8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "03ec765703adcb23",
    "type": "tab",
    "label": "Flow 2",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "74f60a6b88fcb6f6",
    "type": "mqtt-broker",
    "name": "",
    "broker": "mosquitto",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "878c18dd02044916",
    "type": "ui_tab",
    "name": "Energy Monitor",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "27f35fdf6c30e46b",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey",
        "palette": "light"
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "31c356da1aa5246c",
    "type": "ui_group",
    "name": "Live Data",
    "tab": "878c18dd02044916",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "889dc6c072298ce2",
    "type": "ui_group",
    "name": "Charts",
    "tab": "878c18dd02044916",
    "order": 2,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "07c9342099552996",
    "type": "ui_group",
    "name": "Warnings",
    "tab": "878c18dd02044916",
    "order": 3,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "3cc11d24.ff01a2",
    "type": "comment",
    "z": "f6f2187d.f17ca8",
    "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
    "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
    "x": 430,
    "y": 80,
    "wires": []
  },
  {
    "id": "0c557a5aa1f9c32b",
    "type": "mqtt in",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "topic": "energy/device01/telemetry",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "74f60a6b88fcb6f6",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 270,
    "y": 200,
    "wires": [
      [
        "4313b89d3a100bb1",
        "fd6e34f6d3c89b8f",
        "2d23203a5483a9d6",
        "67c549c870a3cff6",
        "9ad4beb2bee76de1",
        "8b6a33565957a44f",
        "e5ce735d24d3ccda"
      ]
    ]
  },
  {
    "id": "4313b89d3a100bb1",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 500,
    "y": 200,
    "wires": []
  },
  {
    "id": "79af7b04103ee204",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "31c356da1aa5246c",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Voltage",
    "format": "{{msg.payload}} V",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 480,
    "y": 460,
    "wires": []
  },
  {
    "id": "fd6e34f6d3c89b8f",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "function 1",
    "func": "msg.payload = msg.payload.voltage;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 460,
    "wires": [["79af7b04103ee204"]]
  },
  {
    "id": "2d23203a5483a9d6",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "function 2",
    "func": "msg.payload = msg.payload.current;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 560,
    "wires": [["6bd32220ca8d3e2a"]]
  },
  {
    "id": "6bd32220ca8d3e2a",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "31c356da1aa5246c",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Current",
    "format": "{{msg.payload}} A",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 500,
    "y": 560,
    "wires": []
  },
  {
    "id": "5ab2a1c8cd147d7f",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "31c356da1aa5246c",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Power",
    "format": "{{msg.payload}} W",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 490,
    "y": 640,
    "wires": []
  },
  {
    "id": "67c549c870a3cff6",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "function 3",
    "func": "msg.payload = msg.payload.power_est;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 640,
    "wires": [["5ab2a1c8cd147d7f"]]
  },
  {
    "id": "9ad4beb2bee76de1",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "function 4",
    "func": "msg.payload = msg.payload.status;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 700,
    "wires": [["80c35035176a3d35"]]
  },
  {
    "id": "80c35035176a3d35",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "31c356da1aa5246c",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 490,
    "y": 700,
    "wires": []
  },
  {
    "id": "8b6a33565957a44f",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "function 5",
    "func": "msg.payload = msg.payload.power_est;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 340,
    "wires": [["4e548b64af6d4e4b"]]
  },
  {
    "id": "4e548b64af6d4e4b",
    "type": "ui_chart",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "group": "889dc6c072298ce2",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Recent Power Values",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 780,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "e5ce735d24d3ccda",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "function 6",
    "func": "let current = msg.payload.current;\n\nif (current > 5) {\n    msg.payload = \"HIGH CURRENT ALERT!\";\n} else {\n    msg.payload = \"Normal\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 440,
    "wires": [["055bc73502389b0c"]]
  },
  {
    "id": "055bc73502389b0c",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "07c9342099552996",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Alert",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 890,
    "y": 440,
    "wires": []
  },
  {
    "id": "f7a8d05f8f3ecdc1",
    "type": "ui_group",
    "name": "History",
    "tab": "878c18dd02044916",
    "order": 4,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "90e58c1dcd2b5a9b",
    "type": "inject",
    "z": "f6f2187d.f17ca8",
    "name": "Refresh historical chart",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "3",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 260,
    "y": 820,
    "wires": [
      [
        "42dc76c638ea8ac3"
      ]
    ]
  },
  {
    "id": "42dc76c638ea8ac3",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Build Flux Query",
    "func": "msg.method = \"POST\";\nmsg.url = \"http://influxdb:8086/api/v2/query?org=energy-org\";\nmsg.headers = {\n    \"Authorization\": \"Token energy-super-token\",\n    \"Content-Type\": \"application/vnd.flux\",\n    \"Accept\": \"application/csv\"\n};\nmsg.payload = `from(bucket: \"energy-bucket\")\n  |> range(start: -1h)\n  |> filter(fn: (r) => r._measurement == \"energy_telemetry\")\n  |> filter(fn: (r) => r._field == \"power_est\")\n  |> filter(fn: (r) => r.device_id == \"device01\")\n  |> aggregateWindow(every: 1m, fn: mean, createEmpty: false)\n  |> yield(name: \"mean\")`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 820,
    "wires": [
      [
        "750748f0d5effc9a"
      ]
    ]
  },
  {
    "id": "750748f0d5effc9a",
    "type": "http request",
    "z": "f6f2187d.f17ca8",
    "name": "Influx Query",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 730,
    "y": 820,
    "wires": [
      [
        "33be2ee7c45db1ad"
      ]
    ]
  },
  {
    "id": "33be2ee7c45db1ad",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "CSV to Chart Data",
    "func": "const raw = (msg.payload || \"\").toString();\nconst lines = raw.split(\"\\n\").filter(line => line && !line.startsWith(\"#\"));\n\nif (lines.length < 2) {\n    return [null, { payload: \"No historical data in last 1h\" }];\n}\n\nconst headers = lines[0].split(\",\");\nconst timeIndex = headers.indexOf(\"_time\");\nconst valueIndex = headers.indexOf(\"_value\");\n\nif (timeIndex === -1 || valueIndex === -1) {\n    return [null, { payload: \"Influx response parse error\" }];\n}\n\nconst points = [];\nfor (let i = 1; i < lines.length; i++) {\n    const cols = lines[i].split(\",\");\n    const t = cols[timeIndex];\n    const v = parseFloat(cols[valueIndex]);\n\n    if (!t || Number.isNaN(v)) {\n        continue;\n    }\n\n    points.push({ x: new Date(t).getTime(), y: v });\n}\n\nif (points.length === 0) {\n    return [null, { payload: \"No points parsed from Influx\" }];\n}\n\nconst chartMsg = {\n    payload: [\n        {\n            series: [\"1m Avg Power (W)\"],\n            data: [points],\n            labels: [\"\"]\n        }\n    ]\n};\n\nconst infoMsg = {\n    payload: `History updated: ${points.length} points (last 1h)`\n};\n\nreturn [chartMsg, infoMsg];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 980,
    "y": 820,
    "wires": [
      [
        "4a0787865d9a6f52"
      ],
      [
        "dd90dfe6d56b2f2f"
      ]
    ]
  },
  {
    "id": "4a0787865d9a6f52",
    "type": "ui_chart",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "group": "f7a8d05f8f3ecdc1",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Last 1h Avg Power",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#2ca02c",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1240,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "dd90dfe6d56b2f2f",
    "type": "ui_text",
    "z": "f6f2187d.f17ca8",
    "group": "f7a8d05f8f3ecdc1",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "History Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 14,
    "color": "#000000",
    "x": 1230,
    "y": 860,
    "wires": []
  },
  {
    "id": "9fe7dd53f21b3539",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-dashboard": "3.6.6"
    }
  }
]
